*{
    font-family: "Crimson Pro", serif;

    
}


html, body{
    background: linear-gradient(to left, #fdfcfb,#e2d1c3);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar-brand{
    font-size:30px;
}
button{
    border: 1px solid;
    border-radius: 10px;
    background:linear-gradient(135deg,#9d50bb 0%,#6e48aa 100%);
    
}
.card{
    margin-left: 150px;
}
.my-img{
    
    margin-left: 200px;
    height: 350px;
    margin-top: 20px;
}
.move{
    margin-left: 150px;

}
.para-2{
    text-align: justify;
}
.badge-move{
    margin-left: 100px;
    
}
nav{
    z-index: 100px;
}
.underline1{
    text-decoration: none;
    list-style: none;
}